In [121]:
import os
import pandas as pd
import numpy as np

pd.options.mode.chained_assignment = None  # default='warn'

try:
    os.chdir('C:/Users/Dhaval/Python_Data/bhinde_dhaval_spring2017/') # making changes to cwd for local reference
except:
    pass

df1=pd.read_csv("Assignment3\\Data\\vehicle_collisions.csv")
print('complete')

complete

In [122]:
df2 = df1[['BOROUGH','VEHICLE 1 TYPE','VEHICLE 2 TYPE','VEHICLE 3 TYPE','VEHICLE 4 TYPE','VEHICLE 5 TYPE']]

df2['Count'] = df2[['VEHICLE 1 TYPE','VEHICLE 2 TYPE','VEHICLE 3 TYPE','VEHICLE 4 TYPE','VEHICLE 5 TYPE']] \
               .apply(lambda x: sum(x.notnull()), axis=1)

In [123]:
df3 = df2[['BOROUGH','Count']]
df4 = df3.groupby(['BOROUGH','Count']).size()

In [124]:
df5 = df4.reset_index(drop=False)
df5.columns = ['Borough', 'vehicles', 'Count']

In [125]:
df6 = df5.pivot_table('Count', ['Borough'], 'vehicles')
df7 = df6.reset_index(drop=False)

In [126]:
df7.columns=['Borough','Zero','One','Two','Three','Four','Five']

In [127]:
df7['More_Vehicles_Involved'] = df7['Zero'] + df7['Four'] + df7['Five']

In [128]:
del df7['Zero']
del df7['Four']
del df7['Five']

In [129]:
df7.columns=['Borough','One_Vehicle_Involved','Two_Vehicles_Involved','Three_Vehicles_Involved','More_Vehicles_Involved']
df7.head()

,Borough,One_Vehicle_Involved,Two_Vehicles_Involved,Three_Vehicles_Involved,More_Vehicles_Involved
0,BRONX,8627,34385,1962,1150
1,BROOKLYN,17375,80207,4980,2399
2,MANHATTAN,13318,66958,2024,1302
3,QUEENS,12962,70260,4498,1935
4,STATEN ISLAND,2343,10676,759,270

In [130]:
df7.to_csv("Assignment3\\Results\\P1.2_Results.csv", sep=',', encoding='utf-8')