In [2]:
import os
import pandas as pd
import numpy as np
import datetime
import glob

try:
    os.chdir('C:/Users/Dhaval/Python_Data/bhinde_dhaval_spring2017/') # making changes to cwd for local reference
except:
    pass

In [ ]:
path ="Finals\\Data\\"
file_list =glob.glob(os.path.join(path,"311_2015.csv"))
np_array_list =[]

for file in file_list:
    print("Starting with"+file)
    df=pd.read_csv(file,usecols=['created_date','closed_date','agency_name','complaint_type','descriptor','incident_zip',\
                                    'city','borough'], low_memory=False)
    np_array_list.append(df.as_matrix())
    
comb_np_array = np.vstack(np_array_list)
df = pd.DataFrame(comb_np_array)
df.columns = ['Agency Name','Borough','City','Closed Date','Complaint Type','Created Date','Descriptor','Incident Zip']

In [47]:
def conv(val):
    if val == np.nan:
        return 0 # or whatever else you want to represent your NaN with
    return val

df_income = pd.read_csv("Finals\\Data\\income_data_ny.csv")
df_income = df_income[np.isfinite(df_income['Zip'])]
df_income = df_income[(df_income.Zip > 0)] 
df_income

           Zip Number of returns    Income
8      10001.0             14080   2396356
9      10001.0              3880     46734
10     10001.0              2530     95952
11     10001.0              1850    116963
12     10001.0              1300    114380
13     10001.0              2350    333645
14     10001.0              2170   1688682
16     10002.0             43370   2248870
17     10002.0             23350    272984
18     10002.0              8270    303380
19     10002.0              4500    279412
20     10002.0              2510    218830
21     10002.0              3200    441974
22     10002.0              1540    732290
24     10003.0             29810   7009442
25     10003.0              5380     64944
26     10003.0              4240    166105
27     10003.0              4410    280283
28     10003.0              3350    295295
29     10003.0              6280    899656
30     10003.0              6150   5303159
32     10004.0              2540    937175
33     10004.0               330      3715
34     10004.0               300     11934
35     10004.0               270     17138
36     10004.0               210     19010
37     10004.0               560     82582
38     10004.0               870    802796
40     10005.0              5890   5573765
41     10005.0               720      8658
...        ...               ...       ...
12317  14901.0               280     34913
12318  14901.0                40     14957
12320  14903.0              3710    223713
12321  14903.0              1380     17330
12322  14903.0               890     32454
12323  14903.0               560     34153
12324  14903.0               340     29035
12325  14903.0               390     52475
12326  14903.0               150     58266
12328  14904.0              7140    261146
12329  14904.0              3380     43392
12330  14904.0              1940     70536
12331  14904.0              1000     61530
12332  14904.0               490     42277
12333  14904.0               330     43411
12334  14904.0                **        **
12336  14905.0              4370    292679
12337  14905.0              1510     18048
12338  14905.0               900     33258
12339  14905.0               680     43004
12340  14905.0               450     39286
12341  14905.0               640     84364
12342  14905.0               190     74719
12344  99999.0             88940  14470740
12345  99999.0             32590    413375
12346  99999.0             19350    715319
12347  99999.0             11900    740419
12348  99999.0              7340    640779
12349  99999.0             10390   1439946
12350  99999.0              7370  10520902

[10801 rows x 3 columns]

In [48]:

df_income['Zip'] =df_income['Zip'].astype(np.str_)

df_income['Number of returns'] = pd.to_numeric(df_income['Number of returns'], errors='coerce').isnull())
df_income['Income'] = pd.to_numeric(df_income['Income'], errors='coerce').isnull())

# df_income['Number of returns'] = df_income['Number of returns'].convert_objects(convert_numeric=True)
# df_income['Income'] = df_income['Income'].convert_objects(convert_numeric=True)

# df_income['Number of returns'] =df_income['Number of returns'].astype(np.float64)
# df_income['Income'] =df_income['Income'].astype(np.float64)

df_income

ValueError: Unable to parse string